<ion-split-pane>

  <ion-menu contentId="content">

    <ion-header>
      
      <ion-toolbar>
        
        <ion-title>Menu</ion-title>
      
      </ion-toolbar>
    
    </ion-header>
    
    <ion-content>
      
      <ion-list>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">

          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
  {{ p.title }}
</ion-label>
</ion-item>
        
</ion-menu-toggle>

<ion-item tappable routerLink="/login" routerDirection="root">
<ion-icon name="log-out" slot="start"></ion-icon>
Logout
</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="content" main></ion-router-outlet>

</ion-split-pane>