<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tabs + Side Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" routerLink="/menu/first">Login</ion-button>
</ion-content>
