<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Second Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-button expand="block" routerLink="/menu/second/details" routerDirection="forward">
    Details forward
    </ion-button>
  </ion-content>
  