<ion-header>
    <ion-toolbar color="primary">
      <ion-button slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-button>
      <ion-title>Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  My second tab content
  </ion-content>
  