<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward">
      Details forward
      </ion-button>   
</ion-content>
